@media (max-width: 992px) {
  .navbar {
    gap: 10px;
  }

  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background: var(--nav-bg);
    border: 2px solid var(--electric);
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }

  .navbar-list a {
    font-size: 18px;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  .cart-icon {
    border: 0px solid;
    height: 40px;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }

  .portada-info {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .portada-info h1 {
    width: 90%;
    max-width: 500px;
    min-width: unset;
  }
  .portada-info p {
    width: 60%;
    max-width: 600px;
  }
  .perro-portada {
    display: none;
  }

  #info h2 {
    text-align: center;
    width: 80%;
  }

  #info .texto-info {
    display: none;
  }

  .info-servicios-container {
    max-width: 80%;
  }

  #discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  #discover h2 {
    text-align: center;
  }

  .discover-perro-img {
    width: 90%;
  }

  .discover-info {
    flex-direction: column;
    align-items: center;
  }

  .discover-info p {
    text-align: center;
  }

  .contacto-info {
    justify-content: space-around;
    padding: 30px 30px;
  }

  .contacto-info iframe {
    height: 250px;
    width: 400px;
  }

  .formulario-contacto {
    display: none;
  }
}

@media (max-width: 576px) {
  .cart {
    left: 0;
    width: 100%;
    border: none;
  }

  .cart-item {
    flex-wrap: wrap;
  }

  .portada-info p {
    width: 70%;
    max-width: unset;
    text-align: center;
  }

  #info h2,
  #info h2 span {
    font-size: 30px;
    text-shadow: none;
  }

  .info-servicios-card {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .info-servicios-card p {
    width: 90%;
  }

  #discover {
    width: 80%;
  }
  #discover h2 {
    font-size: 30px;
    width: 100%;
  }

  .discover-perro-img {
    width: 600px;
  }

  #menu-dog h2 {
    font-size: 34px;
    background-color: transparent;
    color: rgb(23, 56, 128);
  }

  .products-container {
    width: 50%;
  }

  .contacto-info {
    justify-content: center;
    padding: 30px 30px;
  }

  .contacto-info iframe {
    display: none;
  }

  .footer-links {
    flex-direction: column;
    text-align: center;
  }
}
